<!DOCTYPE html>
<html>
<head>
  <title>Nanospace from erb</title>
  <meta name="author" content="RPI">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="shortcut icon" href="favicon_32.ico">
  <title>Welcome to NanoSpace!</title>
  <link rel="stylesheet" href="/css/viewbox.css">
  <link rel="stylesheet" href="/nav/nav.css">
  <link rel="image_src" href="http://nanospace.molecularium.com/nanospace.jpg" / >
  <script src="http://use.typekit.com/nzt5rde.js"></script>
  <script>try{Typekit.load()}catch(e){}</script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag ['jquery.min.js', 'rails.js'] %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  # MAKING CHANGES HERE TO TRY FIXING THE CSRF ERROR
  <meta name="csrf-token" content="<%= csrf_token_form_authenticity_token %>">
  <%= csp_meta_tag %>
</head>

<body>

<%= yield %>

  <script>
    var _gaq=[["_setAccount","UA-22786066-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>
  <%= render :form %>
</body>
</html>
